node_modules/
.env
.zip
.serverless/
__pycache__/
*.pyc
.DS_Storeinfrastructure/terraform/.terraform/
infrastructure/terraform/*.zip
infrastructure/terraform/.terraform.lock.hcl
backend/lambda/node_modules/
infrastructure/terraform/terraform.tfstate
infrastructure/terraform/terraform.tfstate.backup
