# Sao chép file này thành terraform.tfvars rồi điền vào
# cp terraform.tfvars.example terraform.tfvars

aws_region   = "ap-southeast-1"
project_name = "image-processor-nhom6"
admin_email  = "email-nhom-ban@gmail.com"
